$topnav-background-color: rgb(50, 50, 52);
.main-header {
  width: 100%;
  margin: 0 auto;
  background-color: $topnav-background-color;
}
:host {
    .navbar {
        background-color: rgb(50, 50, 52);
        border-right: 1px solid rgb(50, 50, 52);
        border-left: 1px solid rgb(50, 50, 52);
        .navbar-brand {
            color: #fff;
            img {
              width: 149px;
              height: 50px;
            }
        }
        .nav-item > a {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
        .ah-nav-item {
            margin: 0 10px;
            &:nth-child(3) {
              margin-right: 25px;
            }
        }
    }
    .fixed-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

.dropdown-menu-right.dropdown-menu.show {
    left: auto !important;
}
