<div class="home-page">

  <div class="row home-header">
    <div class="col-12 pad-left">
      <header>
        <div class="text-center">
          <img src="./assets/images/Logo_home.png" width="275px" class="rounded" alt="Company Logo">
        </div>
      </header>
    </div>
  </div>

  <div class="row home-tb-pad">
    <!-- <div class="col-4 text-center center-rouded">
      <div class="center-rouded-image-1 ">
      </div>
      <button type="button" name="button" class="btn btn-light">Online Shopping</button>
    </div> -->
    <div class="col-3">

    </div>
    <div class="col-6 textimg">
      <img src="./assets/images/venue1.jpg" width="590px" class="home_fh_link_img" alt="Function Halls Image" (click)="NavigateToFunctionHalls()" title="Click here to go to function halls">
      <a class="nav-link home_fh_link_text" href="/home/functionhalls" title="Go to function halls">
        Achalm Hof erleben
      </a>
    </div>
    <div class="col-3">

    </div>

    <!-- <div class="col-6 text-center center-rouded">
      <div class="center-rouded-image-3 ">
      </div>
      <button type="button" name="button" class="btn btn-light">Apartments</button>
    </div> -->
  </div>
</div>
