
.app-top {
  margin: 0 0 3em;
}

.app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

button.btn {
  margin: 0 10px;
}

// NOTE: the fullcalendar stylesheets are included in the app's global styles.scss
