<div class="row">
  <div class="col-12">

    <div class='app'>

      <div class='app-top'>
        <button (click)='toggleVisible()'>toggle visible</button>
        <button (click)='toggleWeekends()'>toggle weekends</button>
        <button (click)='gotoPast()'>go to a date in the past</button>
        (also, click a date/time to add an event)
      </div>

      <div class='app-calendar' *ngIf="calendarVisible">
        <full-calendar
        #calendar
        defaultView="dayGridMonth"
        [header]="{
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }"
        [plugins]="calendarPlugins"
        [weekends]="calendarWeekends"
        [events]="calendarEvents"
        (dateClick)="handleDateClick($event, calEvent)"
        ></full-calendar>
      </div>

    </div>

    <ng-template #calEvent let-c="close" let-d="dismiss">

      <div class="modal-container">

        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"> <i class="fa fa-home"> </i> Venue1 : Adress / Location </h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="submit-message alert alert-success" *ngIf="isSubmitSuccess" role="alert">
            Your inquiry request is submitted succesfully. We will revert to you shortly. Please note your request number <strong>{{ requestId }}</strong> for future communication reference.
          </div>
          <form novalidate #f="ngForm" (ngSubmit)="addEvent(f.value)" class="tab-info tab-content">
            <div class="row">

              <div class="col-8">

                <div class="form-group">
                  <div class="row">
                    <label class="col-3"> Event Title  <span class="pull-right"> : </span> </label>
                    <div class="col-9">
                      <input type="text" name="schedule_title" class="form-control" ngModel>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <label class="col-3"> Event Description  <span class="pull-right"> : </span> </label>
                    <div class="col-9">
                      <textarea name="schedule_desc" class="form-control" ngModel rows="3" cols="80"></textarea>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <label class="col-3"> Event Start Time  <span class="pull-right"> : </span> </label>
                    <div class="col-6">
                      <input type="datetime-local" name="schedule_start_time" class="form-control" [(ngModel)]="startTime">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <label class="col-3"> Event End Time  <span class="pull-right"> : </span> </label>
                    <div class="col-6">
                      <input type="datetime-local" name="schedule_end_time" class="form-control" [(ngModel)]="endTime">
                      <!-- <input type="datetime-local" name="schedule_end_time" class="form-control" [(ngModel)]="endTime" ngModel> -->
                      <!-- <input [owlDateTime]="dt" [owlDateTimeTrigger]="dt"><owl-date-time #dt></owl-date-time> -->
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-8 align-right">
                <hr />
                <button class="btn btn-default btn-primary save pull-right" type="submit" [disabled]="isSubmitSuccess ? true : null"> Submit </button>
                <button type="button" class="btn btn-secondary" (click)="d('Cross click')">Close</button>
              </div>
            </div>

          </form>
        </div>

      </div>

    </ng-template>

  </div>
</div>
