<app-header></app-header>

<div class="section-container row">
  <div class="col-12">
    <h3 class="page-header"> FAQ – Häufig gestellte Fragen </h3>
    <h5 class="policy-title"> Für wie viele Personen ist die Location ausgelegt?</h5>
    <p>Unsere große Eventscheune ist für eine Personenanzahl von 90 bis 200 Personen ausgelegt.
(An Samstagen zwischen April und Oktober, wird eine Mindestanzahl von 130 erwachsenen Personen vorausgesetzt.)
Die Eventscheune bietet sich bestens für Familienfeste (Hochzeiten, Geburtstage, Konfirmationen u.a.) aber auch Firmenevents (Tagungen, Schulungen, Messen oder auch Vorträge) an.

Unser etwas kleinerer Neubau, die Almhütte, ist für gleiche Festivitäten, wie bereits oben aufgeführt, ausgelegt. Allerdings ist die Buchung hier bereits ab einer Personenanzahl von70 bis 200 Personen möglich.

Bei Tagungen, Messen und sonstigen Firmenveranstaltungen ist die Personenanzahl nach Absprache und je nach Konzept der Veranstaltung variierbar.
</p>
<h5 class="policy-title">Gibt es eine Mindestpersonenanzahl?</h5>
<p>Siehe vorherige Frage.</p>
<h5 class="policy-title">Können Besichtigungstermine vereinbart werden?</h5>
<p>Besichtigungstermine sind ausschließlich nach Absprache und Terminvereinbarung möglich,da wir für alle Interessenten zu 100% zur Verfügung stehen möchten. Bei Interesse schreiben Sie uns am besten über das Kontaktformular an.</p>
<h5 class="policy-title">Wann kann die Location besichtigt werden?</h5>
<p>Termine für Besichtigungen vereinbaren wir immer zwischen Montag bis Donnerstag in den Zeiträumen zwischen 9-12 Uhr und 14-18 Uhr. Freitags und an den Wochenenden, sowie an Feiertagen bieten wir generell keine Besichtigungs- und Besprechungstermine an.</p>
<h5 class="policy-title">Wie kann ich die Location buchen?</h5>
<p>Veranstaltungsbuchungen sind erst nach einer Besichtigung möglich.
Nach einem Besichtigungstermin können gerne weitere Details besprochen werden, woraufhin Sie auch die notwendigen Unterlagen für eine mögliche Buchung bei uns und über die Location erhalten.

Ohne einen Besichtigungstermin ist es leider nicht möglich, einen Veranstaltungstag im Voraus zu reservieren.
</p>
<h5 class="policy-title">Werden Caterer angeboten? </h5>
<p>Wir arbeiten mit einer kleinen Auswahl an Caterer zusammen, die wir Ihnen gerne für Ihre Festivität weiterempfehlen. Für nähere Informationen schreiben Sie uns am besten über unser Kontaktformular an.</p>
<h5 class="policy-title">Gibt es Parkplätze vor Ort?</h5>
<p>Für beide Locations stehen ausreichend Parkplätze auf dem Gelände zur Verfügung.</p>
<h5 class="policy-title">Ist die Location barrierefrei?</h5>
<p>Um auch körperlich benachteiligten Personen eine unvergessliche Feier ermöglichen zu können, sind unsere beiden Locations absolut barrierefrei. </p>
<h5 class="policy-title">Wo finde ich freie Termine?</h5>
<p>Um freie Termine zu erfahren stellen Sie uns bitte eine Anfrage über unser Kontaktformular auf unserer Homepage. </p>
<h5 class="policy-title">Darf man auf dem Gelände Feuer machen?</h5>
<p>Feuerwerk oder ähnliches ist nicht gestattet, jedoch verfügen wir über eine Feuerstelle, die wenn gewünscht, dazugebucht werden kann. </p>
<h5 class="policy-title">Gibt es Wlan oder einen Internetzugang?</h5>
<p>Unsere Locations verfügen über einen freien WLAN- Internetzugang.</p>
<h5 class="policy-title">Wie finde ich zum Achalm Hof?</h5>
<p>Auf unserer Homepage finden Sie ein genaue Anfahrtsbeschreibung für unsere Locations:
Adresse für Google oder andere Navigationssysteme:
Achalm Hof
Stettert 6
72766 Reutlingen
Google Plus Code: G68X+P3 Reutlingen
</p>
<h5 class="policy-title">Gibt es Unterkünfte vor Ort? (Hotels)</h5>
<p>Wir bieten drei Gästezimmer Vorort an.
Sollten diese Zimmer bereits ausgebucht sein, gibt es in der näheren Umgebung einige Hotels, die in kurzer Zeit zu erreichen sind.
-	Hotel Schwanen Metzingen
-	Mayers Waldhorn Mähringen
-	CityHotel Fortuna Reutlingen
-	Achalm Hotel Reutlingen
-	Hotel Schönbuch Pliezhausen
</p>
<h5 class="policy-title">An welchen Tagen kann gefeiert werden?</h5>
<p>Bei uns können an allen Tagen Veranstaltungen und Feierlichkeiten abgehalten werden.
An Feiertagen ist dies allerdings nur nach Absprache möglich.
</p>
<h5 class="policy-title">Gibt es die Möglichkeit einer freien Trauung? </h5>
<p>Freie Trauungen sind bei uns jederzeit möglich. Hierzu bieten wir verschiedene Optionen an, wie diese abgehalten werden können. Für nähere Informationen melden Sie sich bitte per Mail oder über unser Kontaktformular. </p>
<h5 class="policy-title">Darf der Raum dekoriert/geschmückt werden?</h5>
<p>Beide Locations sowie die jeweiligen Außenbereichedürfen prinzipiell geschmückt werden. Dies ist allerdings nur am Tag der Feier ab 10.00 Uhr möglich oder am Vortag ab 14 Uhr, falls die Festscheune nicht belegt sein sollte.</p>
<h5 class="policy-title">Gibt es einen Außenbereich?</h5>
<p>Jede Location hat einen großzügigen Außenbereich mit integriertem Naturteich. Außerdem gibt es auf dem Gelände einen Kinderspielplatz für unsere kleinen Gäste. </p>
<h5 class="policy-title">Wie lange darf gefeiert werden?</h5>
<p>Alle Feierlichkeiten dürfen bis max. 5 Uhr morgens ausgetragen werden. </p>
<h5 class="policy-title">Gibt es einen Kühlraum für die Hochzeitstorte?</h5>
<p>Ein Kühlraum für die Hochzeitstorte ist vorhanden. Sollen weitere Kuchen oder Speisen gekühlt werden, muss dies vorab abgesprochen werden. </p>
  </div>
</div>

<app-footer> </app-footer>
