<div class="section-container row">
  <div class="col-8">
    <h3 class="page-header"> Function Hall </h3>
    <p class="p">
      Unsere große Festscheune ist mir ihren 375qm² sehr großzügig gestaltet und kann für viele verschiedene Anlässe genutzt werden. Neben Bankettbestuhlung an Rund- so wie Tafeltischen können zudem Schulungen Tagungen und verschiedenste Feierlichkeiten veranstaltet werden. Bei entsprechendem Wetter ist es zudem möglich, Ihre Veranstaltung wie etwa eine freie Trauung in den Herrlichen Außenbereich zu verlegen. In diesem ist ein Naturteich sowie einem Spielplatz für die kleinen Gäste vorhanden.</p>
    </div>
    <div class="col-4 news-feed">
      <h6 class="h6-title"> Interesting Stuff </h6>
      <ul class="cus-ul">
        <li>
          Fest Installierte Ambientbeleuchtung im Innen- sowie Außenbereich
        </li>
        <li>
          Vorbereitungsküche, Geschirr und Beteck vorhanden
        </li>
        <li>
          Naturumgeben
        </li>
        <li>Kinderspielplatz			</li>
        <li> Beamer + Leinwand			</li>
        <li>Kühlmöglichkeiten 			 </li>
        <li>Großzügiger Außenbereich mit Naturteich			 </li>
        <li>Kraftstrom vorhanden			 </li>
      </ul>
    </div>
    <div class="col-12 venues-list">
      <div class="row">
        <div class="col-6" *ngFor="let list of venuesList; let i = index;">
          <h5 class="venue-h5"> {{list.name}} </h5>
          <img src="{{list.images}}" class="rounded cus-height" alt="Venue {{i + 1}}" (click)="gotoVenuepage(list.id)">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5 class="text-title text-left"> Wir freuen uns… </h5>
          <p>…und planen mit Ihnen zusammen Ihr Event. Auf Wunsch realisieren wir Ihnen die gesamte Organisation Ihres Festes.</p>
          <div class="row">
            <div class="col-md-3 p-3">
              <img src="/assets/images/Hausch_Baeuerle_HeadSign-300x150.png" class="img-responsive" />
            </div>
            <div class="col-md-9">
              <h5 class="venue-h5 text-left m-2"> Egbescheibung: </h5>
              <p> Aus Richtung Reutlingen Zufahrt über „In Laisen“. Geben Sie in Ihrem Navigationsgerät nicht „Stettert 6“ sondern „Schelmenreuteweg“ ein. Am Ende dieses Schelmenreuteweges befinden Sie sich auf der alten „B28“, biegen da links Richtung Metzingen ab, nach ca. 150m rechts ist die Unterführung zu uns auf unseren Hof.</p>
              <p> Kommen Sie aus Richtung Stuttgart über Metzingen auf der B 28 nehmen Sie kurz nach Metzingen die Parkplatzspur und fahren über den Parkplatz am Bahnhäusle ( früher Hexenhäusle mit Zwergen) vorbei. Auf diesem Weg parallel zur B 28 fahren Sie ca 350 m bis links die Unterführung Sie direkt zu uns auf den Hof führt. </p>
            </div>
            <div class="col-md-12">
              <h5 class="text-title text-left"> Geschäftszeiten: </h5>

              <table class="table table-bordered table-custom">
                <tbody>
                  <tr>
                    <td>
                      Freitag
                    </td>
                    <td>
                      09:00–12:00 Uhr
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Samstag
                    </td>
                    <td>
                      Geschlossen
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Sonntag
                    </td>
                    <td>
                      Geschlossen
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Montag
                    </td>
                    <td>
                      Geschlossen
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dienstag
                    </td>
                    <td>
                      09:00–12:00 Uhr & 14:00–18:00 Uhr
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Mittwoch
                    </td>
                    <td >
                      Geschlossen
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Donnerstag
                    </td>
                    <td>
                      09:00–12:00 Uhr & 14:00–18:00 Uhr
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
