.section-container {
  padding: 35px;
  .p {
    margin-top:10px;
    padding:20px 0px;
  }
  .h6-title {
    border-bottom:double
  }
  .page-header {
    color: #575d00f0;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgb(50, 50, 52);;
  }
  .news-feed {
    padding: 15px;
    background: rgb(50, 50, 52);;
    color: #fff;
    border-radius: 2px;
    .cus-ul {
      text-decoration: none;
      li {
        list-style: circle;
      }
    }
  }

  .venues-list {
    margin: 20px 0 0;
    .venue-h5 {
      text-align: center;
      margin:15px auto;
      font-weight: 600;
      color: #264802;
    }
    .rounded {
      //border-radius: 20px !important;
      border: 5px solid #D5DC6B;
    }
    .cus-pad-right {
      padding-right: 5px;
    }
    img {
      cursor: pointer;
      width: 100%;
    }
    img.cus-height {
      height: 400px;
    }
  }
}
.table-custom {
  tbody {
    tr {
      background: #979a9382;
      color: #00400e;
      td:first-child {
         font-size: 16px;
         font-weight: 600;
       }
       td:nth-child(2) {
         font-size: 14px;
         font-weight: 600;
       }
    }
  }
}
