section {

}
.modal-body {
  .row {
    margin-top:5px;
  }
}
.cus-container-fluid {
  padding: 15px;
  height: 100vh;
  background: #fff;
}

.card {
  border: 0px;
  background: #e7e8e4;
  margin-top: -2px;
  height: 100vh;
}
.form-control {
  overflow: hidden;
}
.cus-btn {
  margin-left:5px
}

.margin-top-20 {
  margin: 20px;
}
