<div class="main-footer">
  <div class="row p-3 text-center">
    <div class="col-md-4 ">
        <span class="control-label"> ® Achalm Hof, Reutlingen 2016 </span>
    </div>
    <div class="col-md-4">
      <span class="control-label"> Achalm Hof | Stettert 6 | 72766 Reutlingen </span> <br>
      <span class="control-label"> 07121 / 17400 | info@achalmhof.de </span>
    </div>
    <div class="col-md-4">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item ah-nav-item">
            <a class="nav-link" class="privacy" target="_blank" href="/privacy-policy">
              Datenschutz
            </a> | <a class="nav-link" class="privacy" target="_blank" href="/impressum">
              Impressum
            </a> | <a class="nav-link" class="privacy" target="_blank" href="/faq">
              FAQ
            </a> | <a class="nav-link" class="fa fa-instagram privacy" title="Follow us on Instagram" target="_blank"
             href="https://www.instagram.com/achalmhof/">
            </a> | <a class="nav-link" class="fa fa-facebook privacy" title="Follow us on Facebook" target="_blank"
            href="https://www.facebook.com/achalmhof/">
            </a> | <a class="nav-link" class="fa fa-youtube-play privacy" title="Subscribe us on Youtube" target="_blank"
            href="https://www.youtube.com/channel/UC6Cv9UoNfg8S_u8QFPJ1DWQ">
            </a>
          </li>

      </ul>
    </div>
  </div>
</div>
