<div class="main-footer">
  <div class="row p-3 text-center">
    <div class="col-md-4 ">
        <span class="control-label"> ® Achalm Hof, Reutlingen 2016 </span>
    </div>
    <div class="col-md-4">
      <span class="control-label"> Achalm Hof | Stettert 6 | 72766 Reutlingen </span> <br>
      <span class="control-label"> 07121 / 17400 | info@achalmhof.de </span>
    </div>
    <div class="col-md-4">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item ah-nav-item">
            <a class="nav-link" class="privacy" target="_blank" href="/privacy-policy">
              Zuhause
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
