/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

body {
  margin: 0 auto;
  background-color: #999999;

  .section-container {
    padding: 20px;
    width: 1040px;
    margin: 0 auto;
    background-color: #fefefe;
    min-height: 100vh;

    > div {
      padding: 0;
    }
  }

  .full-width {
    width: 100%;
  }

  .bordered-box {
    border: 1px solid #222;
    border-radius: 4px;
  }

  .margin-bottom {
    margin-bottom: 10px;
  }

  .slideshow-container {
    border-radius: 4px;
  }

}
