.section-container {
  .news-feed {
    padding: 10px;
    border: 1px solid #ccc;
  }
  .venues-list {
    margin: 20px 0 0;
    .cus-pad-right {
      padding-right: 5px;
    }
    img {
      cursor: pointer;
      width: 100%;
    }
    img.cus-height {
      height: 400px;
    }
  }
}
