
<div class="container-fluid cus-container-fluid">
  <div class="row">
    <div class="col-md-12">
      <section>
        <ngb-tabset>

          <!-- Requests -->
          <ngb-tab>
            <ng-template ngbTabTitle>Requests</ng-template>
            <ng-template ngbTabContent>
              <app-request> </app-request>
            </ng-template>
          </ngb-tab>

          <!-- Appointments -->
          <ngb-tab>
            <ng-template ngbTabTitle>Appointments</ng-template>
            <ng-template ngbTabContent>
              <app-manage> </app-manage>
            </ng-template>
          </ngb-tab>

          <!-- Calendar -->
          <ngb-tab>
            <ng-template ngbTabTitle> Calendar </ng-template>
            <ng-template ngbTabContent>
              <app-calendar> </app-calendar>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </section>
    </div>
  </div>
</div>
