<div class="section-container">
  <div class="row margin-bottom">
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <span>Venue: Innovative Complex, Balsamiq Street, Mumbai</span>
        </div>
        <div class="col-12 bordered-box" style="height: 350px">
          Carousel images...
        </div>
        <div class="col-12 bordered-box" style="height: 350px">
          Venue specifications and other details...
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary full-width" type="button" name="button">Inquire</button>
        </div>
        <div class="col-12">
          <div class="bordered-box" style="height: 200px">
            A video of the video...
          </div>
        </div>
        <div class="col-12">
          <div class="bordered-box" style="height: 200px">
            Maps to the location...
          </div>
        </div>
        <div class="col-12">
          <div class="bordered-box" style="height: 200px">
            Feedback and FAQs
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
